@import '../abstracts/variables';

.floating-indicator {
  animation: float 3s ease-in-out infinite;
}

.rotating-gradient {
  animation: rotate 3s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(150%);
  }
  100% {
    transform: translate(-430%);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
