@font-face {
  font-family: 'font-l';
  src: url('../../../fonts/Inter_Light.ttf') format('trueType');
  font-display: swap;
}
@font-face {
  font-family: 'font-eb';
  src: url('../../../fonts/Inter_ExtraBold.ttf') format('trueType');
  font-display: swap;
}
@font-face {
  font-family: 'font-sb';
  src: url('../../../fonts/Inter_SemiBold.ttf') format('trueType');
  font-display: swap;
}
@font-face {
  font-family: 'font-r';
  src: url('../../../fonts/Inter_Regular.ttf') format('trueType');
  font-display: swap;
}
@font-face {
  font-family: 'font-m';
  src: url('../../../fonts/Inter_Medium.ttf') format('trueType');
  font-display: swap;
}
@font-face {
  font-family: 'font-b';
  src: url('../../../fonts/Inter_Bold.ttf') format('trueType');
  font-display: swap;
}
