$primary-color: #ed0c93;
$secondary-color: #c70ced;

$black: #000;
$white: #fff;

$dark-1: #222;

$grey-1: #444655;

$dark-green: #29a71a;
$light-orange: #f25029;
$light-pink: #ffaaaa;
$dark-brown: #f2502926;
